<nav class="navbar">
    <div class="navbar-logo">
        <img src="/images/FLAVOUR__1.png" alt="Flavour Finder Logo" class="navbar-logo-img" />
    </div>
<div class="navbar-links">
    <a href="/home">Home</a>
    <a href="/profile">Favourites</a>
    <a href="/about-us">About</a>
    <a href="/about">Contact</a>
  <div class="profile-dropdown">
        <img src="/images/acc_img_.png" alt="Profile" class="profile-icon" />
     <div class="dropdown-menu">
          <a href="/logout">Log out</a>
  </div>
 </div>
</nav>