<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flavour Finder</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="container">
     <div class="sideimage">
        </div> 
      
        <div class="ingredients-section">
            <div class="search-baring">
                <input type="text" placeholder="Search Ingredients">
            </div>
         <div class="ingredients-list">
            <button class="button">Honey</button>
                <button class="button">Flour</button>
                <button class="button">Baking Powder</button>
                <button class="button">Butter</button>
                <button class="button">Oil</button>
                <button class="button">Eggs</button>
                <button class="button">Salt</button>
                <button class="button">Rice</button>
                <button class="button">Onion</button>
                <button class="button">Coriander</button>
                <button class="button">Soya Sauce</button>
                <button class="button">Vinegar</button>
                <button class="button">Red Chilli Sauce</button>
            </div>
            <div class="fun-fact">
                🍌 Botanically, bananas are berries because they are part of a flowering plant that contains seeds.
            </div>
        </div> 
         
        <div class="recipes-section">
            <div class="search-barrec">
                <input type="text" placeholder="Search Recipes">
            </div>
            <div class="recipe-cards">
                <div class="recipe-card">
                    <img src="/images/Old Fashioned Pancakes.jpeg">
                    <p>PANCAKES</p>
                </div>
                <div class="recipe-card">
                    <img src="/images/omelette.jpeg">
                    <p>OMELETTE</p>
                </div>
                <div class="recipe-card">
                    <img src="/images/Fried Rice.jpeg">
                    <p>FRIED RICE</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
