<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="/styles/layout.css">
</head>

<body>
    <div class="container">
        
        <form>
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
            <button type="submit"><img src="/recipefinder/public/assets/google_icon.png" height="20px" width="20px"></button> 
        </form>

    </div>
</body>