@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
    body{
        margin: 0; 
        font-family: monospace;
    }
    header{
        position: absolute;
        width: 100%;
        z-index: 100;
        border-bottom: 1px solid #fff4;
    }
    header ul{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        list-style: none;
    }
    header li{
        padding: 30px 40px;
        color: #fff;
    }
    header li.active, header li:hover{
        border-bottom: 2px solid #fff;
    }
    .slider{
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right, #2B2F3A, #0D0E12);
        overflow: hidden;
    }
    .slider::before{
        position: absolute;
        width: 50%;
        height: 100vh;
        content: '';
        top: 0;
        left: 0;
        background-color: #d6e835;
    }
    .title {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: start;
        justify-content: start;
      }
      
      .title .logo {
        height: 300px;
        width: 300px;
        object-fit: contain; 
        margin: 0;
        padding: 0;
      }
      
      
    .images{
        position: absolute;
        bottom: 0%;
        left: 50%;
        --rotate: 0deg;
        transform: translate(-50%, 50%) rotate(var(--rotate));
        width: 1300px;
        height: 1300px;
        border-radius: 50%;
        transition: transform 0.5s ease-in-out;
        outline: 3px dashed #fff5;
        outline-offset: -100px;
    }
    .images .item{
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        rotate: calc(60deg * var(--i));
    }
    .images .item img{
        height: 420px;
    }
    
    .content{
        color: #fff;
        position: absolute;
        top: 5%;
        left: 65%;
        text-align: justify;
        width: 350px;
    }
    .content h1{
        font-family: 'Pacifico', cursive;
        color: #d6e835;
        font-size: 50px;
        padding: 0%;
        text-shadow:2px 1.5px 0px #fff;
        
    }
    
    .des{
        padding: 0%;
        margin-left:10px;
        font-size: 15px;
    }
    .content button{
        margin-top: 10px;
        padding: 10px 30px;
        border-radius: 20px;
        background-color: #d6e835;
        color: #fff;
        border: none;
        float: right;
    }
    .content .item{
        display: none;
    }
    .content .item.active{
        display: block;
    }
    @keyframes showContent{
        from{
            opacity: 0;
            transform: translateY(100px);
        }to{
            opacity: 1;
        }
    }
    .content .item.active h1{
        opacity: 0;
        animation: showContent 0.5s ease-in-out 1 forwards;
    }
    .content .item.active .des{
        opacity: 0;
        animation: showContent 0.5s 0.3s ease-in-out 1 forwards;
    }
    .content .item.active button{
        opacity: 0;
        animation: showContent 0.5s 0.6s ease-in-out 1 forwards;
    }
    
    
    #prev,
    #next{
        position: absolute;
        border: none;
        top: 50%;
        left: 250px;
        font-size: 100px;
        font-family: cursive;
        background-color: transparent;
        color: #fff;
        font-weight: bold;
        opacity: 0.3
    }
    #next{
        left: unset;
        right: 250px;
    }
    #next:hover,
    #prev:hover{
        opacity: 1
    }

    form {
        z-index: 999;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

  .authButton{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #dc721b;
    color: #fff;
    font-size: 1.5em;
    border: none;
  }  
  .authButton:hover{
    background: #fff;
    color: #dc721b;
    cursor: pointer;
  }

    